header{
  .hstyle{
    padding-bottom: 3em;
  }
  .right{
    margin-top: 2em;
    margin-right: 1em;
    margin-left: 30px;
  }
  .linnk{
    h4{
      margin-top: -13px;
    }
    span{
      padding-left: 1em;
    }
  }
  font-family: 'Satisfy', cursive;
}
.style{
  margin:0px;
}
@for $i from 1 through 6{
  h#{$i}{
    
    font-weight: 20px;
    
  }
}
body{
  
  font-weight: 300;
  h1{
    margin-top: 0px;
  }

}
b,strong{
  font-weight: 400;
}
nav.navbar{
  
  font-weight: 400;
  text-transform: lowercase;
  font-size: 20px;
}

.vcenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}