#land{
  background-color: #FFFFFF;
  background-image: url('../images/color.jpg');
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  font-family: $heading_font;
  position: relative;

  .vcenter {
    padding: 5vh 0;
    background-color: rgba(0,0,0,0.2);

    h1{
      line-height: 8vw;
      margin-left: 8vw;
      font-size: 4vw;
      color: white;
    }

    .alphabet_images {
      margin-right: 7vw;

      img {
        height: 8vw;
        width: 8vw;
        margin-right: 1vw;
      }
    }
  }


  nav{
    position: absolute;
    bottom: 5vmin;
    right:5vmin;

    a{
      &,&:hover, &:visited,&:active{
        color: #000;
        text-decoration: none;
        text-transform:lowercase;
        font-size: 2vw;
        font-family: $heading_font;
        margin-left: 2em;
        display: inline-block;
        transform:scale(1);
        transition:transform 0.3s ease-in;

        &:hover{
          transform:scale(1.4);
        }
      }
    }
  }
}

